<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron rebeccapurple">
    <h1>iTunes Search</h1>
</div>

<div class="row">
    <div class="col-sm-12">
        @using (Ajax.BeginForm("Search", "Home", new AjaxOptions
        {
            HttpMethod = "GET",
            UpdateTargetId = "result",
            InsertionMode = InsertionMode.Replace,
            LoadingElementId = "LoadingImage",
            OnSuccess = "onSuccess_Message",
            OnFailure = "onFailure_Message"
        }))
        {
            @Html.AntiForgeryToken()

            <div class="row">
                <div class="col-sm-12">
                    <div class="input-group">
                        <input name="keyword" type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default">Search</button>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div>

            <div id="LoadingImage" style="display:none">Loading...</div>
            <div id="onSuccess_Message"></div>
            <div id="onFailure_Message"></div>

            <div id="result"></div>
        }
    </div>
</div>

