body {
    padding-top: 50px;
    padding-bottom: 20px;
    /*background-color: #0c002e*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

.rebeccapurple{
    color:rebeccapurple;
}

.moviePanel {
    margin-bottom: 5px;
    /*background-color: rebeccapurple;*/

    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(71,9,121,1) 18%, rgba(0,137,255,1) 100%);
}

    .moviePanel a {
        color: white
    }

    .moviePanel:hover {
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(71,9,121,1) 50%, rgba(0,137,255,1) 100%);
    }

.line {
    border: 0;
    height: 2px;
    /*background: rebeccapurple;*/
    margin: 0;
    margin-bottom: 5px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(71,9,121,1) 18%, rgba(0,137,255,1) 100%);
}
